In [3]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

#### Load our first page

In [217]:

def parse_html_content(url):
    # Load the webpage content 
    r = requests.get(url)

    # Convert to beautiful soup object 
    soup = bs(r.content)

    # Print our 
    #print(soup.prettify() )

    #for span in soup.findAll("span"):
        #print( span )
        
    my_raw, my_type = [], []
    
    for span in soup.findAll("span", class_ = "headline_avherald"):
        #print( span.text )
        my_raw.append(span.text)

    for img in soup.findAll("img", alt = ['Crash', 'Accident', 'Incident']): #**still to find other categories
        #print( img['title'] )
        my_type.append(img['title'])  

    return [my_raw, my_type]

In [216]:

def load_data_into_df( lists):
    my_raw = lists[0]
    my_type = lists[1]
    df = pd.DataFrame( list(zip(my_type, my_raw )), columns = ['Type_of_incident','Raw'])
    #df.head()

    return df

In [218]:
url = "http://avherald.com/"

load_data_into_df(  parse_html_content(url)).head(10)

  Type_of_incident                                                Raw
0         Incident  Fedex DC10 at Sacramento on Dec 4th 2020, bird...
1         Incident  KLM B772 at Amsterdam on Dec 3rd 2020, transpo...
2         Incident  KLM B772 near Cape Verde on Dec 3rd 2020, tran...
3         Incident  Aeroflot A320 near Khanty-Mansiysk on Nov 17th...
4         Incident  Pobeda B738 near Moscow on Nov 14th 2020, fuel...
5         Incident  Air China B789 near Moscow on Nov 6th 2020, lo...
6         Incident  Total B722 near Rio de Janeiro on Dec 2nd 2020...
7         Incident  JAL B772 at Okinawa on Dec 4th 2020, engine sh...
8         Incident  Mango B738 at Johannesburg on Sep 2nd 2019, el...
9         Incident  Spicejet B738 at Guwahati on Dec 4th 2020, har...

In [45]:
print("\n" * 100)